---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$brand-orange: rgb(242, 103, 31);
$brand-red: rgb(201, 27, 38);
$brand-magenta: rgb(156, 15, 95);
$brand-purple: rgb(96, 4, 122);
$brand-darkblue: rgb(22, 10, 71);

$brand-one: $brand-orange;
$brand-two: $brand-red;
$brand-three: $brand-magenta;
$brand-four: $brand-purple;
$brand-five: $brand-darkblue;

$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #000000;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
$left-margin:      0px;

$header-border-width: 20px;
$header-border-col1: #000000;
$header-border-col2: #0f0f0f;
$header-bg-col1: $brand-one;
$header-bg-col2: $brand-two;
$header-bg-image: linear-gradient($header-bg-col1, $header-bg-col2);
//$header-bg-image: linear-gradient(0deg, $header-bg-col1 0, $header-bg-col2 20%, $header-bg-col2 80%, $header-bg-col1 100%);
$header-font-col: $brand-five;

$a-color: $brand-five;
$a-hover-color: $brand-two;

$nav-color: $brand-five;
$nav-hover-color: $a-hover-color;

$photo-edge-color: $brand-five;
$image-height: 120px;
$front-page-main-margin: 100px;

$gray-dark: lighten(black, 25%);
$white: white;
$white-faded: fade(white, 80%);
$gray-light: #eee;

$title-fadein-base: 0.5s;
$title-fadein-step: 0.5s;

$tooltip-color: black;
$tooltip-font-size: 1.2em;
$tooltip-bg-color: lighten($brand-one, 10%);
$tooltip-arrow-color: $tooltip-bg-color;
$tooltip-opacity: 0.95;

$header-select-color: $brand-four;
$select-color: black;
$select-bg-color: lighten($brand-two, 30%);

$media-icon-col: $a-color;
$media-icon-hover-col: $brand-two;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "clean-blog",
        "front-page",
        "syntax-highlighting"
;
