\---
layout: default
\---

/ Header
%header.intro-header
  .container.site-heading
    .row
      .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1
        %h1.live-input{:text => "{{ site.author }}", "data-html" => "true", :title => "Click me to edit!<br>Made using: <a href=\"https://github.com/robinrob/jquery-liveinput\" target=\"_blank\">liveinput</a>"} &nbsp;
    .row
      .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1
        .photo
    .row
      .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1
        %h2.subheading.live-input{:text => "{{ site.subtitle }}"} &nbsp;
        .email
          %a{:href => "mailto:{{ site.email }}"} {{ site.email }}

/ Content
.main
  {{ content }}

%hr