\---
layout: default
\---

/ Header
%header.intro-header
  .container.page-heading
    .row
      .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1
        %h1 Blog
    .row
      .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1
        %hr.small
        %h2.subheading Some coding tips & tricks

/ Content
.main
  {{ content }}

%hr