%body
  %p
    \---
    layout: default
    \---
    / Page Header
    %header.intro-header{:style => "background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')"}
      .container
        .row
          .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
            .site-heading
              %h1 {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
              %hr.small/
              %span.subheading {{ page.description }}
    / Main Content
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        {{ content }}
  %hr/
