\---
layout: default
permalink: /
\---

/ Header
%header.intro-header
  .container.site-heading
    .row
      .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1
        %h1{"cw-text" => "{{ site.author }}", "cw-leading-cursor" => "true"} Robin Smith
    .row
      .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1
        .photo#photo
    .row
      .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1
        %h2.subheading{"cw-text" => "{{ site.subtitle }}", "cw-leading-cursor" => "true"} Freelance full-stack web developer&nbsp;

/ Content
.main
  .index
    .container
      .blurb
        %p
          I am an Edinburgh-based software developer with several years' experience building applications to run in the cloud.
          Experienced in using modern server and front-end web frameworks (Flask, ExpressJS, AngularJS) and a certified
          Amazon Web Services architect,
          I can build and deploy business applications with technical logic, running on the best cloud platforms including
          AWS and Heroku. I also have experience in building fun HTML5 games using the Cocos2D-JS framework.
          Please see my
          %a{:href => "https://uk.linkedin.com/in/{{ site.linkedin }}", :target => "_blank"}
            %span LinkedIn profile page of {{ site.author }}
            LinkedIn
          profile for more details.

    .section
      .container.services
        %h2{:id => "services"} Services
        .intro
          %p
            I can design and build applications in the below areas. I am diligent in implementing thorough automated
            unit and end-to-end testing on all my projects to ensure a great level of reliability.
        %ul
          %li
            %h3
              Web Development
            %p
              I can build responsive websites that look great on all popular screen sizes. I can handle both backend and
              frontend development using frameworks such as Flask, ExpressJS, AngularJS and Ruby on Rails, as well as database
              design using my experience of SQL databases (MySQL, Postgres).
          %li
            %h3
              Force.com App Development
            %p
              I have a detailed knowledge of the Force.com platform in designing and building diverse
              applications from business automation logic, to custom backup and archive solutions, to
              standalone Force.com apps with complex and technical functionality.
          %li
            %h3
              Cloud Integration and Automation
            %p
              I can create custom integrations utilising web services to connect cloud platforms such as Google, Salesforce
              and AWS. I am also experienced in automating business processes using Apex on Force.com or Google
              Apps Script on Google Apps. I hold and maintain active Force.com Developer and AWS Solutions Architect certifications.

    .section
      .container.projects
        %h2{:id => "projects"} Previous Projects
        %p.section-intro
          %strong Some previous projects I have worked on.
        %ul
          %li.cf.project-alumina
            %h3 Commercial Salesforce &laquo;=&raquo; Google synchronisation application
            %p
              I was a core developer on a native Force.com application to synchronise Email, Calendar and
              Contact information between Google Apps and Salesforce.com platforms. The app made use of
              advanced Force.com techniques such as scheduled and batch Apex, webservices, triggers and visualforce.
              I built a second stand-alone Force.com application acting as a licensing server to perform product verification
              and registration, offering trial and paid functionality for the business' Force.com products. The app
              included an intuitive visual interface to allow administration.

          %li.cf.project-salesforce-s3
            %h3 Salesforce-AWS Email Backup and Archiving System
            %p
              I designed and implemented a robust archiving and retrieval system for Salesforce Email Messages, using
              Python and running on Amazon EC2. Business-critical Salesforce data was stored and synced on Amazon Web Services S3, drastically reducing storage costs.
              The system was successfully deployed for two separate customers. A high level of automated testing ensured the
              reliability of the system.

          %li.cf.project-heroku-db
            %h3 Heroku Database Management Tool
            %p
              I designed and implemented a system to perform backups of critical Heroku application databases, using Ruby
              and running on Amazon EC2. Database backups were rotated to ensure data integrity and keep storage
              costs under control.
    .section
      .container.endorsements
        %h2{:id => "endorsements"} Endorsements
        %ul
          %li.endorsement
            %a{:href => "https://www.seanw.org", :target => "_blank", :alt => "Photograph of Sean Wilson, Software Developer"}
              %span Website of Sean Wilson, Software Developer
              .endorsement-photo.photo-sean
            %blockquote
              Robin is a passionate software developer and a keen and fast learner. Combined with excellent
              communication skills and professionalism he is great to work with.
            .caption
              %a{:href => "https://www.seanw.org", :target => "_blank"}
                %span Website of Sean Wilson, Software Developer
                Sean Wilson, Freelance Developer

          %li.endorsement
            %a{:href => "https://uk.linkedin.com/in/ben-johnson-55210529", :target => "_blank", :alt => "Photograph of Ben Johnson, Principal Consultant at Ryze Limited"}
              %span LinkedIn profile page of Ben Johnson, Principal Consultant at Ryze Limited
              .endorsement-photo.photo-ben
            %blockquote
              Robin has an unbreakable comittment to quality. What you see is what you get - a reliable and intelligent
              business partner."
            .caption
              %a{:href => "https://uk.linkedin.com/in/ben-johnson-55210529", :target => "_blank"}
                %span LinkedIn profile page of Ben Johnson, Principal Consultant at Ryze Limited
                Ben Johnson, Principal Consultant at Ryze Limited

    .section
      .container.contact
        %h2{:id => "contact_me"} Contact me
        {% include contact_form.html %}