\---
layout: front-page
\---

.front-page.accordion
  %p.blurb
    I am an Edinburgh-based software developer with several years' of experience in the modern cloud landscape.
    I have experience with modern web and mobile applications involving server-side and client-side development;
    cloud-based integrations including Amazon Web Services Google, Salesforce.com and Heroku; mobile
    game development. I hold certifications for Amazon Web Services and Force.com and have a
    very strong mathematical and analytical background. You can read my detailed CV
    %a{:href => "/cv"}here
    or check out my
    %a{:href => "{{ site.linkedin }}"}LinkedIn
    profile.

  %h2 Services
  .container.services
    .row
      .col-xs-12
        %ul
          %li One
          %li One
          %li One
          %li One
          %li One
          %li One
          %li One
          %li One
          %li One

  %h2 Previous Projects
  .container.previous-projects
    .row
      .col-xs-12
        %ul
          %li One
          %li One
          %li One
          %li One
          %li One
          %li One
          %li One

  %h2 Endorsements
  .container
    .row
      .col-xs-12
        %ul
          %li One
          %li One
          %li One
          %li One
          %li One
          %li One
          %li One