\---
layout: default
title: Contact Me
toptitle: Contact Me
description: "Contact Me - Please use this form to contact me about work opportunities or other queries"
\---

%header.intro-header
  .container.page-heading.contact-heading
    .row
      .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1
        %h1 Contact Me
    -#.row
    -#  .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1
    -#    %h2.subheading Covering topics such as software design, automation, ideas on productivity and useful code snippets.

/ Content
.container
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      .main
        {% include contact_form.html %}
%hr