<div class='cover-letter'>
  <p>
    I'm Robin, a developer who has always loved working on the full web application stack. I have a passion for learning and for making things well. I also love the efficiencies and flexibility of working remotely, which I believe can be a great working model for technology companies.
  </p>

  <p>
    I have been working freelance for the last few years, which has made me into a well-rounded developer and professional. I have a greater sense of ownership over tasks that I am responsible for, and I am great at personal organisation. These skills make me the perfect remote worker, and I'd love to find a full-time role in a company with a great personal and technical culture fit.
  </p>

  <p>
    My enjoyment and passion for software development come from using creativity and attention to detail to make life easier for people, enabling them to do new things in a way that is intuitive and fun. I also love automating things in my own life: I am currently working on an iOS app to allow me to easily view variations of guitar chords. I strongly believe in the value of personal projects for learning new technologies and languages, and for trying out new ideas without risk.
  </p>

  <p>
    My enjoyment of learning has led to me working with most of the popular frontend and backend web stack languages, and a variety of web frameworks. I am currently most interested in <strong>React</strong>, <strong>Ruby on Rails</strong> and <strong>Python</strong>-based frameworks like Flask or Django. I am also experienced in database design, build automation and continuous integration.  I recently started learning OCaml in order to experience working in a fully-functional programming language. I advocate things that improve code-quality, such as: code reviews, automated testing, linting.
  </p>

  <p>
    I am a big people person, so I believe in a strong company culture. I have a proven track record of being easy to work with as a colleague, and of being a great communicator. I love writing and sharing knowledge, and combine the two with a blog at <a href="{{ site.url }}/blog">{{ site.url }}/blog</a>. I would fit in well in a company with a culture that promotes learning, knowledge-sharing and a passion for seeking better ways of doing things.
  </p>
</div>
