<!-- Content -->
<div class='cv-title center invert'>
<h2>Robin Smith</h2>
</div>
<div class='cv-details'>
<div class='row'>
<div class='col-xs-12'>
<div class='cv-details-line-label'>Email:</div>
<div class='cv-details-line-value'>{{ site.email }}</div>
<div class='row'></div>
</div>
<div class='col-xs-12'>
<div class='cv-details-line-label'>Phone:</div>
<div class='cv-details-line-value'>{{ site.phone }}</div>
</div>
</div>
<div class='row'>
<div class='col-xs-12'>
<div class='cv-details-line-label'>Website:</div>
<div class='cv-details-line-value'>{{ site.url }}</div>
</div>
</div>
</div>
<div class='cv-experience'>
<div class='row'>
<div class='col-xs-2'>
<div class='cv-section-name'>Experience</div>
</div>
<div class='col-xs-10'>
<div class='cv-experience-block'>
<div class='cv-experience-heading'>
Freelance Web Developer - Kaptio Travel (May 2017 &#x2013; November 2017)
</div>
<div class='cv-experience-content'>
<p>For Kaptio Travel, I implemented itinerary pricing functionality in two backend pricing APIs. The API codebases
used Python, Pyramid and PostgreSQL, running in Heroku.</p>
<p>I quickly got up to speed on a new business domain, and was able to
immediately contribute. I identified areas that needed better automated testing and helped to greatly increase
the robustness of the code.</p>
<p>I also worked on a travel booking and administration platform implemented in Salesforce. This involved work on business
logic and front-end interface improvements, using Apex and Typescript.</p>
<p>I made improvements to a data transform and synchronisation application which was used to transform between Salesforce and backend API data,
which was written in Typescript and also deployed in Heroku.</p>
</div>
</div>
</div>
</div>
<div class='row'>
<div class='col-xs-offset-2 col-xs-10'>
<div class='cv-experience-block'>
<div class='cv-experience-heading'>
Freelance Web Developer - Insight Software (March 2015 &#x2013; May 2017)
</div>
<div class='cv-experience-content'>
<p>As part of a team of three, I worked on an enterprise-scale application for Network Rail, using AngularJS and Flask and running in AWS.</p>
<p>I contributed significantly to all parts of the application - frontend, server-side, database and also with helping to set up continuous integration in CircleCI.</p>
<p>Frontend work involved:</p>
<ul>
<li>UIs for graphing with interactive controls</li>
<li>Data import and export into different formats</li>
<li>Data configuration wizards</li>
<li>Report-building and generation interfaces</li>
</ul>
<p>Server-side work included:</p>
<ul>
<li>Cost/benefit analysis algorithms</li>
<li>Latex report generation</li>
<li>CRUD operations for complex data models</li>
</ul>
<p>I designed and implemented logical database schemas to model the business domain in a way that allowed us to perform the
required analysis. I successfully managed several complex data migrations, requiring a lot of pre-planning
and testing.</p>
<p>I provided valuable input on architectural decisions with the codebase, to ensure the application was able to scale as it grew.</p>
<p>Through code reviews and by example, I helped to encourage a culture of writing good tests, which significantly
helped to increase reliability.</p>
<p>I used the AWS Cloudformation service to increase automation of deployments and to enable spinning up of UAT
environments.</p>
</div>
</div>
</div>
<div class='col-xs-offset-2 col-xs-10'>
<div class='cv-experience-block'>
<div class='cv-experience-heading'>
DevOps Engineer, Cloudreach Canada Inc. &#x2013; Vancouver (March 2014 &#x2013; March 2015)
</div>
<div class='cv-experience-content'>
<p>I relocated to Vancouver as a lead engineer to help start up a new Network Operations Centre for Cloudreach in North
America.</p>
<p>I helped build team of AWS-certified DevOps Engineers capable of handling critical failures in
– and restoring service to – customer web application stacks.</p>
<p>I interviewed and trained new team members in DevOps and software development
best practices. A highly-functioning team was established and was recognised by the business for performing
to a high standard as well as upholding its core values.</p>
</div>
</div>
</div>
</div>
<div class='row'>
<div class='col-xs-offset-2 col-xs-10'>
<div class='cv-experience-block'>
<div class='cv-experience-heading'>
DevOps Engineer, Cloudreach Ltd. &#x2013; Edinburgh (June 2013 &#x2013; March 2014)
</div>
<div class='cv-experience-content'>
<p>I did DevOps and software development work for a range of customer and internal
production web applications and stacks.</p>
<p>I wrote business-critical code on the Force.com platform for
internal processes, email management and improvement of internal business analysis.</p>
<p>I gave customer consultation and implemented software solutions within customer Salesforce environments.</p>
<p>I designed and developed an internal email archiving system using python, to archive support case
emails from Salesforce into Amazon S3. The archiving tool was also deployed in customer production environments.
I wrote custom data export and backup tools for the Heroku and Salesforce platforms.
I was recognised by Cloudreach Ltd for being Easy To Work With at the annual awards dinner.</p>
</div>
</div>
</div>
</div>
<div class='row'>
<div class='col-xs-offset-2 col-xs-10'>
<div class='cv-experience-block'>
<div class='cv-experience-heading'>
Software Developer, Cloudreach Ltd. &#x2013; Edinburgh (October 2011 &#x2013; June 2013)
</div>
<div class='cv-experience-content'>
<p>As the first developer in the new Edinburgh office, I worked web applications using the Django and
Play frameworks, and the Salesforce Force.com platform. Projects used test suites with continuous integration
running on a Bamboo server.</p>
<p>I became a core developer on the company's first sellable product: Alumina Connect – a substantial
application which ran in Force.com and synchronised user data between Salesforce and Google Apps. I designed and
developed a separate licensing application which ran on the Force.com platform and was used
to license installations of Alumina Connect in customer environments.</p>
<p>I wrote and maintained a custom continuous integration tool using shell scripts and Ant to automate deployment of
code from source repositories to Force.com. The tool was used by the team throughout development
of Alumina Connect, and later by other parts of the business on separate customer projects.</p>
</div>
</div>
</div>
</div>
</div>
<div class='cv-tech-skills'>
<div class='row'>
<div class='col-xs-2'>
<div class='cv-section-name'>Software Development Skills</div>
</div>
<div class='col-xs-10'>
<div class='row'>
<div class='col-xs-6'>
<div class='cv-experience-block'>
<div class='cv-experience-heading'>Languages:</div>
<div class='cv-experience-content'>
<ul>
<li>Javascript</li>
<li>Python 2 & 3</li>
<li>Ruby</li>
<li>HTML, CSS, SASS</li>
<li>Java</li>
<li>Typescript</li>
<li>Swift</li>
<li>Google Apps Script</li>
<li>Force.com Apex</li>
<li>Bash, ZSH</li>
<li>MySQL, PostgreSQL</li>
</ul>
</div>
</div>
</div>
<div class='col-xs-6'>
<div class='cv-experience-block'>
<div class='cv-experience-heading'>Frameworks & Tools:</div>
<div class='cv-experience-content'>
<ul>
<li>AngularJS, Flask, Pyramid, Django, Jekyll, Ruby on Rails, iOS</li>
<li>Git, Gulp, Vagrant, Github, Bitbucket</li>
<li>Bamboo, CircleCI</li>
<li>JIRA</li>
</ul>
</div>
</div>
</div>
</div>
<div class='row'>
<div class='col-xs-6'>
<div class='cv-experience-block'>
<div class='cv-experience-heading'>Platforms:</div>
<div class='cv-experience-content'>
<ul>
<li>Heroku</li>
<li>Salesforce/Force.com</li>
<li>Google Apps</li>
</ul>
</div>
</div>
</div>
<div class='col-xs-6'>
<div class='cv-experience-block'>
<div class='cv-experience-heading'>Methodologies:</div>
<div class='cv-experience-content'>
<ul>
<li>Test-Driven Development</li>
<li>Continuous Integration</li>
<li>DevOps</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class='cv-education'>
<div class='row'>
<div class='col-xs-2'>
<div class='cv-section-name'>Education</div>
</div>
<div class='col-xs-2'>
<div class='cv-experience-heading'>2005 &#x2013; 2009</div>
</div>
<div class='col-xs-8'>
<div class='cv-experience-block'>
<div class='cv-experience-heading'>MPhys Physics with Astrophysics, University of Sussex</div>
<div class='cv-experience-content'>
Degree class
<strong>2:1</strong>
</div>
</div>
</div>
</div>
</div>
<div class='cv-other-skills'>
<div class='row'>
<div class='col-xs-2'>
<div class='cv-section-name'>Other Skills &amp; Qualities</div>
</div>
<div class='col-xs-10'>
<div class='cv-experience-block'>
<div class='cv-experience-heading'>Efficient time management and work ethic</div>
<div class='cv-experience-content'>
I take a very energetic and positive approach to life and aim to make the most of each day.
Handling the workload of a physics degree alongside paid employment and recreational
activities has taught me efficiency, organisation and working to a self-disciplined schedule.
</div>
</div>
</div>
</div>
</div>
<div class='cv-other-skills'>
<div class='row'>
<div class='col-xs-2'></div>
<div class='col-xs-10'>
<div class='cv-experience-block'>
<div class='cv-experience-heading'>Communication and people skills</div>
<div class='cv-experience-content'>
I have a very strong sense for effective and clear communications, developed through
a diverse range of employment and experiences: DevOps Engineer; Software Developer; Officer Training
Corps (OTC); tutoring at the University of Sussex; presentations; scientific reports and essays.
I have given talks at Techmeetup events in Edinburgh.
</div>
</div>
</div>
</div>
</div>
<div class='cv-other-skills'>
<div class='row'>
<div class='col-xs-2'></div>
<div class='col-xs-10'>
<div class='cv-experience-block'>
<div class='cv-experience-heading'>Teamwork and team-building</div>
<div class='cv-experience-content'>
In professional employment I have consistently been rated as being very easy to work with. I take a strong
interest in the development of my team members and always take the time to help them out. This approach
helped me to build a high-quality team in a new office whilst based in Vancouver, Canada, where a significant part of my
job involved mentoring junior members.
</div>
</div>
</div>
</div>
</div>
