/ Head
%head
  %script{:src => "{{ site.baseurl }}/js/scripts.js", :defer => "defer"}
  %script{:src => "https://identity.netlify.com/v1/netlify-identity-widget.js", :defer => "defer"}

  :javascript
    let production_hostname = 'rsmith.io'
    //let production_hostname = 'localhost'
    if (window.location.hostname === production_hostname) {
      console.log("Production GA will load");
      $.getScript(
        '{{ site.baseurl }}/js/header_scripts.js',
        function() { console.log("Production GA loaded!") }
      )
    }

  {% include head_html.html %}