<header class='index intro-header'>
  <div class='container'>
    <div class='site-heading'>
      <div class='row'>
        <div class='col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1'>
          <h1 class='live-input bstooltip' data-html='true' text='Robin Smith' title='Click me to edit!&lt;br&gt;Made using: &lt;a href="https://github.com/robinrob/jquery-liveinput" target="_blank"&gt;liveinput&lt;/a&gt;'>
          </h1>
        </div>
      </div>
      <div class='row'>
        <div class='col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1'>
          <a class='photo bstooltip' href='#'></a>
        </div>
      </div>
      <div class='row'>
        <div class='col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1'>
          <hr class='small'>
          <h2 class='subheading live-input' text='Freelance web &amp; mobile developer.'></h2>
          <div class='email'>
            <a href='mailto:{{ site.email }}'>{{ site.email }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
