<!-- Head -->
<head>
  <script>
    var host = "yoursite.com";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
      window.location.protocol = "https";
  </script>
  <meta charset='utf-8'>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  <meta content='IE=edge' http-equiv='X-UA-Compatible'>
  <meta content='width=device-width, initial-scale=1' name='viewport'>
  <meta content='utf-8' name='content-type'>
  <meta content='{{ site.description }}' name='description'>
  <meta content='Freelance developer, Edinburgh, mobile, web, AngularJS, PhoneGap, SEO, Heroku, AWS, Google Apps, JavaScript, Force.com, Salesforce' name='keywords'>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <!-- CSS -->
  <link href='/css/styles.css' rel='stylesheet'>
  <link href='/img/favicon.gif' rel='icon' type='image/gif'>
  <link href=' { { site.url } }{ { page.url } }' rel='canonical'>
</head>
