/ Navigation
%nav.navbar.navbar-default.navbar-custom.navbar-fixed-top
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header.page-scroll
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a{:href => "{{ site.baseurl }}/"}
            %span Home page of {{ site.author }}'s site
            Home
        %li
          %a{:href => "{{ site.baseurl }}/#services"}
            %span View software services that {{ site.author }} offers
            Services
        %li
          %a{:href => "{{ site.baseurl }}/#projects"}
            %span View projects that {{ site.author }} has previous worked on
            Projects
        %li
          %a{:href => "{{ site.baseurl }}/#endorsements"}
            %span View {{ site.author }}'s endorsements
            Endorsements
        %li
          %a{:href => "{{ site.baseurl }}/contact"}
            %span Use contact form to contact {{ site.author }}
            Contact
        %li
          %a{:href => "{{ site.baseurl }}/cv"}
            %span View Robin Smith's CV
            CV
        %li
          %a{:href => "{{ site.baseurl }}/blog"}
            %span Read {{ site.author }}'s Software development blog
            Blog