\---
layout: empty_with_css
title: Robin Smith's CV
permalink: cv/print/
description: "CV/Résumé - use this page to save or print my CV/Résumé for personal purposes or for distribution to potential employers"
\---


.cv-print
  {% include cv.html %}