$border-color: $theme-2


table.programming-languages
  border-collapse: separate
  border-bottom: 2px solid $border-color
  border-left: 2px solid $border-color

  tr
    border-left: 2px solid $border-color !important
    border-right: 2px solid $border-color

  tr.ocaml
    font-weight: bold
    background-color: $theme-1

  th, td
    border-top: 2px solid $border-color !important
    border-right: 2px solid $border-color !important

  th
    font-weight: bold

  td
    text-align: center
    span
      font-size: 1.2em
      color: green
      
