\---
layout: front-page
\---

.main
  .container
    .row.services
      .col-xs-12
        .blurb
          %p
            I am an Edinburgh-based software developer with several years' experience in the modern cloud landscape.
            I have experience with modern web and mobile applications; bespoke business applications and integrations
            running on enterprise cloud platforms including Amazon Web Services, Google, Salesforce.com and Heroku; mobile
            game development using Cocos2DJs. I hold architect and developer certifications for Amazon Web Services and
            Force.com and have a strong mathematical and analytical background. Please check out my
            %a{:href => "http://www.linkedin.com/in/{{ site.linkedin }}", :target => "_blank"}LinkedIn
            profile for more details.

  .section
    .container
      %h2 Services
      %p.section-intro
        %strong I can design and build solutions in the below areas. In all projects undertaken a suitable level of automated testing is implemented alongside good design to ensure an increased level of reliability.
      .row.services
        .col-xs-12
          %ul
            %li
              %h3
                Web Development
              %p
                I can build responsive websites that are mobile- and desktop-ready using HTML5, CSS, Javascript, jQuery,
                Python, Ruby and modern frameworks such as Ruby on Rails and AnjularJS. I can migrate existing websites from legacy to modern frameworks.
            %li
              %h3
                Force.com App Development
              %p
                With my wide knowledge of the Force.com platform I can design, build and deploy diverse solutions such as web-service
                integrations, custom backup and archive solutions, to full-fledged Force.com apps with complex and technical functionality. Using
                test-driven-development, I ensure that the code is robust and easily exceeds the Force.com platform basic requirement of 75% code coverage.
            %li
              %h3
                Cloud Integrations and Solutions
              %p
                I can design, create and deploy custom integrations between your app and other Cloud platforms such as Google and Salesforce.com
                platforms, or bespoke applications running on Amazon Web Services, Force.com or Heroku. I hold Force.com Developer
                and AWS Solutions Architect certifications.
            %li
              %h3
                Custom Google Apps Automation
              %p
                I can implement powerful workflow automation solutions for Google Apps users using Google Apps Script, such as
                complex Spreadsheet, Document and email functionality and integrations with external services.

  .section
    .container
      %h2 Previous Projects
      %p.section-intro
        %strong Some previous projects I have worked on.
      .row.projects
        .col-xs-12
          %ul
            %li.cf
              %h3 Commerial Salesforce <=> Google synchronisation application
              %p
                I was a core developer on a native Force.com application to synchronise Email, Calendar and
                Contact information between Google Apps and Salesforce.com platforms. The app made use of
                advanced Force.com techniques such as scheduled and batch Apex, webservices, triggers and visualforce.
                I built a second stand-alone Force.com application acting as a licensing server to perform product verification
                and registration, offering trial and paid functionality for the business' Force.com products. The app
                included an intuitive visual interface to allow administration.

            %li.cf
              %h3 Salesforce-AWS Email Backup and Archiving System
              %p
                I designed and implemented a robust archiving and retrieval system for Salesforce Email Messages, using
                Python and running on Amazon EC2. Business-critical Salesforce data was stored and synced on Amazon Web Services S3, drastically reducing storage costs.
                The system was successfully deployed for two separate customers. A high level of automated testing ensured the
                reliability of the system.

            %li.cf
              %h3 Heroku Database Management Tool
              %p
                I designed and implemented a system to perform backups of critical Heroku application databases, using Ruby
                and running on Amazon EC2. Database backups were rotated to ensure data integrity and keep storage
                costs under control.

  .section
    .container
      %h2 Endorsements
      .row.endorsements
        .col-xs-12
          %ul
            %li.endorsement
              %a{:href => "http://seanw.org", :target => "_blank"}
                .endorsement-photo.photo-sean
              %blockquote "Robin is a passionate software developer and a keen and fast learner. Combined with excellent communication skills and professionalism he is great to work with."
              .caption
                %a{:href => "http://seanw.org", :target => "_blank"} Sean Wilson
                , Freelance Developer

            %li.endorsement
              %a{:href => "https://uk.linkedin.com/pub/ben-johnson/29/105/552", :target => "_blank"}
                .endorsement-photo.photo-ben
              %blockquote "Robin has an unbreakable comittment to quality. What you see is what you get - a reliable and intelligent business partner."
              .caption
                %a{:href => "https://uk.linkedin.com/pub/ben-johnson/29/105/552", :target => "_blank"} Ben Johnson
                , Principal Consultant at Ryze Limited
