%body
  %header.intro-header{:style => "background-image: url('{{ post.image }}')"}
    .container
      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
          .site-heading
            %h1 {{ page.title }}
            %hr.small/
            %span.subheading {{ page.subtitle }}
