\---
layout: page
title: CV
toptitle: Robin Smith - CV
permalink: cv/
description: Robin Smith's CV
\---


.cv-options
  .row.buttons
    .col-xs-12
      %a.print{:class => "btn btn-primary btn-sm", :href => "{{ site.baseurl }}/cv/print"} Print
      %a.print{:class => "btn btn-primary btn-sm", :href => "{{ site.baseurl }}/{{ site.cv }}", :download => "{{site.cv}}"} Download as PDF

.cv
  {% include cv.html %}

