\---
layout: page
title: CV
permalink: cv/
description: Robin Smith's CV
\---

/ Content
.main
  .cv
    .cv-title.center.invert
      %h2 Freelance Full-stack Web Developer
    .cv-details
      .row
        .col-xs-12
          .cv-details-line-label Tel:
          .cv-details-line-value {{ site.phone }}
      .row
        .col-xs-12
          .cv-details-line-label Email:
          .cv-details-line-value {{ site.email }}
      .row
        .col-xs-12
          .cv-details-line-label Website:
          .cv-details-line-value {{ site.url }}
      .row
        .col-xs-12
          .cv-details-line-label Address:
          .cv-details-line-value {{ site.address }}
    .cv-experience
      .row
        .col-xs-2
          .cv-section-name Experience
        .col-xs-10
          .cv-experience-block
            .cv-experience-heading
              Freelance Web Developer (March 2015 &#x2013; present)
            .cv-experience-content
              Freelance web developer working on the full software stack of small and large technical enterprise
              applications, providing:
              consultation on code architecture, database architecture, testing;
              automation of development and deployment tasks;
              implementation of continuous integration using unit-test and front-end test suites.
              %br
              Languages used: Javascript/Node, Python, Ruby, Bash, HTML, CSS, SASS, MySQL.
              %br
              Frameworks: AngularJS, Flask, Ruby on Rails, Django
              %br
              Tools: Git, Gulp, Vagrant.
      .row
        .col-xs-offset-2.col-xs-10
          .cv-experience-block
            .cv-experience-heading
              DevOps Engineer, Cloudreach Canada Inc. &#x2013; Vancouver (March 2014 &#x2013; March 2015)
            .cv-experience-content
              I relocated to Vancouver with Cloudreach to help start up a new Network Operations Center in North
              America. I interviewed candidates and trained 6 new team members to
              become self-sufficient, AWS-certified DevOps Engineers capable of handling critical failures in
              &#x2013; and restoring service to &#x2013; customer web application stacks. Excellent communications were
              emphasised within the team as we worked with a mainly-UK customer base and UK-based colleagues.
      .row
        .col-xs-offset-2.col-xs-10
          .cv-experience-block
            .cv-experience-heading
              DevOps Engineer, Cloudreach Ltd. &#x2013; Edinburgh (June 2013 &#x2013; March 2014)
            .cv-experience-content
              I provided DevOps services and bespoke software development for a wide range of customer and internal
              production web applications and stacks. I wrote business-critical code on the Force.com platform for
              internal processes, email management and improvement of internal business analysis.
              I gave customer consultation and implemented core business solutions within customer Salesforce environments.
              I designed and developed an internal Salesforce email archiving system using python, to archive support case
              emails from Salesforce into Amazon S3. The archiving tool was also deployed in customer production environments.
              I also wrote custom data export and backup tools for the Heroku and Salesforce platforms.
              I was recognised by Cloudreach Ltd for being Easy To Work With.
      .row
        .col-xs-offset-2.col-xs-10
          .cv-experience-block
            .cv-experience-heading
              Software Developer, Cloudreach Ltd. &#x2013; Edinburgh (October 2011 &#x2013; June 2013)
            .cv-experience-content
              I was the first developer in the new Edinburgh office. I immediately became
              a core developer on the company's first sellable product: Alumina Connect &#x2013; a substantial
              application which ran on the Salesforce Force.com platform and synchronised user data between
              Salesforce and Google Apps. I quickly learned the Force.com platform and was able to to
              immediately contribute, eventually becoming a top contributor on the project. I designed and
              developed a separate licensing application which ran on the Force.com platform and was used
              to license installations of Alumina Connect in customer environments. I wrote and
              maintained a custom continuous integration tool using shell scripts and Ant to automate deployment of
              code from source repositories to the Force.com platform. The tool was used by the team throughout development
              of Alumina Connect, and later by other parts of the business on separate customer projects.
    .cv-tech-skills
      .row
        .col-xs-2
          .cv-section-name Software Development Skills
        .col-xs-10
          .row
            .col-xs-6
              .cv-experience-block
                .cv-experience-heading Languages:
                .cv-experience-content
                  %ul
                    %li Javascript
                    %li Python
                    %li HTML, CSS, SASS
                    %li Ruby
                    %li Java
                    %li Google Apps Script
                    %li Force.com Apex
                    %li Shell languages: Bash, ZSH
            .col-xs-6
              .cv-experience-block
                .cv-experience-heading Frameworks & Tools:
                .cv-experience-content
                  %ul
                    %li AngularJS, Flask, CocosJS, Django, Play, Ruby on Rails
                    %li Git, Gulp, Vagrant, Github, Bitbucket
                    %li Bamboo, CircleCI
                    %li JIRA
          .row
            .col-xs-6
              .cv-experience-block
                .cv-experience-heading Platforms:
                .cv-experience-content
                  %ul
                    %li Heroku
                    %li Salesforce.com/Force.com
                    %li Google Apps
            .col-xs-6
              .cv-experience-block
                .cv-experience-heading Methodologies:
                .cv-experience-content
                  %ul
                    %li Test-Driven Development
                    %li Continuous Integration
                    %li DevOps, automation
    .cv-education
      .row
        .col-xs-2
          .cv-section-name Education
        .col-xs-2
          .cv-experience-heading 2005 &#x2013; 2009
        .col-xs-8
          .cv-experience-block
            .cv-experience-heading MPhys Physics with Astrophysics, University of Sussex
            .cv-experience-content
              Degree class
              %strong 2:1
    .cv-other-skills
      .row
        .col-xs-2
          .cv-section-name Other Skills &amp; Qualities
        .col-xs-10
          .cv-experience-block
            .cv-experience-heading Efficient time management and work ethic
            .cv-experience-content
              I take a very energetic and positive approach to life and aim to make the most of each day.
              Handling the workload of a physics degree alongside paid employment and recreational
              activities has taught me efficiency, organisation and working to a self-disciplined schedule.
    .cv-other-skills
      .row
        .col-xs-2
        .col-xs-10
          .cv-experience-block
            .cv-experience-heading Communication and people skills
            .cv-experience-content
              I have a very strong sense for effective and clear communications, developed through
              a diverse range of employment and experiences: DevOps Engineer; Software Developer; Officer Training
              Corps (OTC); tutoring at the University of Sussex; presentations; scientific reports and essays.
              I gave a talk on Test-Driven-Development at a TechMeetup event in Edinburgh.
    .cv-employment-history
      .row
        .col-xs-2
          .cv-section-name Employment History
        .col-xs-3
          .cv-experience-heading March 2015 &#x2013; Present
        .col-xs-7
          .cv-experience-block
            .cv-experience-heading
            .cv-experience-content
              Freelance Web Developer
      .row
        .col-xs-offset-2.col-xs-3
          .cv-experience-heading March 2014 &#x2013; March 2015
        .col-xs-7
          .cv-experience-block
            .cv-experience-heading Cloudreach Canada Inc.
            .cv-experience-content
              DevOps Engineer.
      .row
        .col-xs-offset-2.col-xs-3
          .cv-experience-heading October 2011 &#x2013; March 2014
        .col-xs-7
          .cv-experience-block
            .cv-experience-heading Cloudreach Ltd.
            .cv-experience-content
              DevOps Engineer.
      .row
        .col-xs-offset-2.col-xs-3
          .cv-experience-heading October 2011 &#x2013; March 2014
        .col-xs-7
          .cv-experience-block
            .cv-experience-heading Cloudreach Ltd.
            .cv-experience-content
              Software Developer.
      .row
        .col-xs-offset-2.col-xs-3
          .cv-experience-heading January 2010 &#x2013; October 2011
        .col-xs-7
          .cv-experience-block
            .cv-experience-heading Big Issue
            .cv-experience-content
              Voluntary work to gain wider experience and learn more about homelessness in society. In my spare time I
              worked on personal programming projects and learned French.
      .row
        .col-xs-2
          .cv-section-name
        .col-xs-3
          .cv-experience-heading June 2009 &#x2013; August 2009
        .col-xs-7
          .cv-experience-block
            .cv-experience-heading University of Sussex
            .cv-experience-content
              As an International Summer School Teaching Assistant I headed physics problem-solving workshops, providing help with assignments and essential
              physics tuition, for two classes of international students. The job involved marking over 70
              assignments a week, providing helpful feedback and extra physics
              tuition where required.
      .row
        .col-xs-2
          .cv-section-name
        .col-xs-3
          .cv-experience-heading October 2008 &#x2013; June 2009
        .col-xs-7
          .cv-experience-block
            .cv-experience-heading Ministry of Defence &#x2013; Southampton University Officers Training Corps
            .cv-experience-content
              I undertook several weekend exercises with the army whilst completing the last year of my degree.
              This involved team-leading exercises, weapon handling, first-aid training, weekly drill nights
              and a live night-time battle exercise in a mock-up terrorist village.
      .row
        .col-xs-2
          .cv-section-name
        .col-xs-3
          .cv-experience-heading June 2008 &#x2013; August 2008
        .col-xs-7
          .cv-experience-block
            .cv-experience-heading Summer research placement, University of Sussex
            .cv-experience-content
              My work involved improving a new point source extraction program developed by the Astronomy Center. I wrote a shell
              script to use the extraction program to perform point-source extraction on model data sets for
              the Herschel Space Telescope, as part of preparation for the Herschel space mission.
    .cv-about
      .row
        .col-xs-2
          .cv-section-name
            About
        .col-xs-10
          .cv-experience-content
            I have always loved to be pro-active with learning and in day-to-day life, preferring to begin the day with
            swimming.
            In my spare time I enjoy learning the guitar and learning languages, or working on personal
            programming projects. I visit the library often and love to read a lot of non-fiction science books and science-fiction.