h2 {
    font-size: 35px;
    color: $h2-color;
    margin-bottom: 30px;
}

h3 {
    color: $h3-color;
    margin-bottom: 10px;
}

h1.live-input,
h2.live-input {
    border: 1px solid rgba(0, 0, 0 ,0);
    transition: border 0.2s ease-out,
    box-shadow 0.2s ease-out;
}

h1.live-input:focus,
h1.live-input:hover {
    border: 1px solid $header-bg-col2;
    box-shadow: 1px 1px 10px 0px $header-bg-col1,
    -1px -1px 10px 0px $header-bg-col1;
}

h2.live-input:focus,
h2.live-input:hover {
    border: 1px solid $header-bg-col1;
    box-shadow: 1px 1px 10px 0px $header-bg-col2,
    -1px -1px 10px 0px $header-bg-col2;
}

.bstooltip + .tooltip.top,
.bstooltip + .tooltip.left {
    opacity: $tooltip-opacity;
}

.bstooltip + .tooltip.top > .tooltip-arrow {
    border-top-color: $tooltip-arrow-color;
}
.bstooltip + .tooltip.left > .tooltip-arrow {
    border-left-color: $tooltip-arrow-color;
}

.bstooltip + .tooltip > .tooltip-inner {
    font-size: $tooltip-font-size;
    color: $tooltip-color;
    background-color: $tooltip-bg-color;
}

.live-input:focus {
    outline: none;
}

.site-heading {
    h1 {
        //display: table-cell;
        white-space: nowrap;
        color: $header-font-col;
    }

    h2 {
        color: $header-font-col;
        margin: 0;
        //padding: 5px;
    }
}

header {
    .email {
        a {
            color: $header-font-col;
            &:hover {
                color: darken($header-font-col, 20%);
            }
        }
        margin-top: 20px;
        font-size: 20px;
        text-align: center;
    }

    .photo {
        display: inline-block;
        text-align: center;
        width: $image-height;
        height: $image-height;
        background-size: cover;
        background-image: url("../img/me.jpg");
        background-position: center;
        border-radius: $image-height / 2;
        border: 2px groove $nav-color;
        box-shadow: 1px 1px 5px 0px $photo-edge-color,
        -1px -1px 5px 0px $photo-edge-color;
        transition: border 0.2s ease-out,
        box-shadow 0.2s ease-out;

        &:hover {
            box-shadow: 2px 2px 10px 0px $photo-edge-color,
            -2px -2px 10px 0px $photo-edge-color;
        }
    }
}

.wrapper {
    text-align: center;

    .main {
        display: inline-block;
        //max-width: 800px;
        width: 100%;
        text-align: left;
        .container {
            max-width: 900px;
        }

        ul {
            list-style-type: none;
        }

        ul, li {
            margin-left: 0;
            padding: 0;
        }

        p {
            font-size: 18px;
            margin: 5px 0 50px 0;
            padding: 0;
        }

        h2 {
            text-align: center;
            margin-bottom: 5%;
        }

        hr.large {
            //opacity: 0;
            border-color: $theme-2;
        }

        .blurb {
            display: inline-block;
            max-width: 900px;
            margin: 40px 0 0px 0;
            color: black;

            p {
                text-align: justify;
            }

            hr.large {
                max-width: 90%;
                border-color: $theme-2;
                //opacity: 0;
            }
        }

        .section {
            padding-top: 3%;
            padding-bottom: 3%;

            p.section-intro {
                color: $theme-4;
                text-align: center;
                font-size: 19px;
            }
        }

        .section:nth-of-type(even) {
            background: lighten($theme-2, 40%);
        }

        .section:nth-of-type(odd) {
            color: $theme-5;
        }

        .projects {
            ul {
                //overflow: hidden;
                li {
                    &:before {
                        display: inline-block;
                        float: right;
                        width: 100px;
                        height: 100px;

                    }
                }
                li.project {
                    &:before {
                        width: $endorser-photo-size;
                        height: $endorser-photo-size;
                        background-size: cover;
                        background-position: center;
                        border-radius: $endorser-photo-size / 2;
                        border: 2px groove $theme-4;
                    }
                }
                li.project-google-sf {
                    &:before {
                        background-image: url('../img/sean.jpg');
                    }
                }
            }
        }

        .endorsement {
            text-align: center;
            margin-bottom: 8%;

            .endorsement-photo {
                display: inline-block;
                text-align: center;
                width: $endorser-photo-size;
                height: $endorser-photo-size;
                margin-bottom: 10px;
                background-size: cover;
                background-position: center;
                border-radius: $endorser-photo-size / 2;
                border: 1px groove $theme-4;
                box-shadow: 1px 1px 1px 0px $theme-2,
                            -1px -1px 1px 0px $theme-2
            }

            blockquote {
                color: $theme-5;
            }

            .caption {
                font-style: normal;

                a {
                    color: $a-color;
                }
            }
        }
    }
}

.project-image {
    //display: block;
    width: $endorser-photo-size;
    height: $endorser-photo-size;
    background-size: cover;
    background-position: center;
    border-radius: $endorser-photo-size / 2;
    border: 2px groove $theme-4;
}

.google-sf {
    background-image: url('../img/sean.jpg');
}

.right {
    float: right;
}

.left {
    float: left;
}

.photo-sean {
    background-image: url('../img/sean.jpg');
}

.photo-ben {
    background-image: url('../img/ben.jpg');
}

@for $i from 1 through 11  {
    .fadein#{$i} {
            -webkit-animation: fadein $title-fadein-base + $i * $title-fadein-step
    }
}

@-webkit-keyframes fadein {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

@-moz-keyframes fadein {

    0% {
        -moz-transform: translateX(-800%) rotate(0);
    }

    100% {
        -moz-transform: translateX(0) rotate(-360deg);
    }

}

@-o-keyframes fadein {

    0% {
        -o-transform: translateX(-800%) rotate(0);
    }

    100% {
        -o-transform: translateX(0) rotate(-360deg);
    }

}

@keyframes fadein {

    from {
        opacity: 1.0;
    }

    to {
        opacity: 0;
    }

}