\---
layout: default
title: Blog
toptitle: Robin Smith - Blog
subtitle: Covering topics such as software design, automation, ideas on productivity and useful code snippets.
description: My software development blog covering things such as software design, automation, productivity tips and useful code snippets.
\---

%header.intro-header
  .container.page-heading.blog-index-heading
    .row
      .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1
        %h1 {{ page.title }}
    .row
      .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1
        %h2.subheading Covering topics such as software design, automation, ideas on productivity and useful code snippets.

/ Content
.container
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      .main
        / Posts list
        .blog
          -#.blurb
          -#  %p My software development blog covering topics such as software design, automation, productivity tips and useful code snippets.

          {% for post in paginator.posts %}
          .post-preview
            %a{:href => "{{ post.url | prepend: site.baseurl }}"}
              %span Read post {{ post.title }}
              %h2.post-title {{ post.title }}
              {% if post.subtitle %}
              %h3.post-subtitle {{ post.subtitle }}
              {% endif %}
            %p.post-meta Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.author }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
          {% endfor %}

          / Pager
          {% if paginator.total_pages > 1 %}
          %ul.pager
            {% if paginator.previous_page %}
            %li.previous
              %a{:href => "{{ paginator.previous_page_path | prepend: site.baseurl }}"}
                %span View Newer Posts
                &larr; Newer Posts
            {% endif %}
            {% if paginator.next_page %}
            %li.next
              %a{:href => "{{ paginator.next_page_path | prepend: site.baseurl }}"}
                %span View Older Posts
                Older Posts &rarr;
            {% endif %}
          {% endif %}
%hr
