---
layout: default
---
<!-- Header -->
<header class='intro-header'>
  <div class='container site-heading'>
    <div class='row'>
      <div class='col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1'>
        <h1 class='live-input' data-html='true' text='{{ site.author }}' title='Click me to edit!&lt;br&gt;Made using: &lt;a href="https://github.com/robinrob/jquery-liveinput" target="_blank"&gt;liveinput&lt;/a&gt;'>&nbsp;</h1>
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1'>
        <div class='photo' id='photo'></div>
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1'>
        <h2 class='subheading live-input' text='{{ site.subtitle }}'>&nbsp;</h2>
        <div class='email'>
          <a href='mailto:{{ site.email }}'>{{ site.email }}</a>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Content -->
<div class='main'>
  {{ content }}
</div>
<hr>
