---
layout: default
comments: true
---
<!-- Post header -->
<header class='intro-header'>
<div class='container post-heading'>
<div class='row'>
<div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'>
<h1>{{ page.title }}</h1>
{% if page.subtitle %}
<h2 class='subheading'>{{ page.subtitle }}</h2>
{% endif %}
</div>
</div>
</div>
</header>
<!-- Content -->
<div class='container'>
<div class='row'>
<div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'>
<div class='main'>
<div class='blog'>
<article>
{{ content }}
<div id="disqus_thread"></div>
<script>
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://rsmith-io.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<hr>
<span class='post-meta'>Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
</article>
<hr>
<ul class='pager'>
{% if page.previous.url %}
<li class='previous'>
<a data-placement='top' data-toggle='tooltip' href='{{ page.previous.url | prepend: site.baseurl }}' title='{{page.previous.title}}'>&larr; Previous Post</a>
</li>
{% endif %}
{% if page.next.url %}
<li class='next'>
<a data-placement='top' data-toggle='tooltip' href='{{ page.next.url | prepend: site.baseurl }}' title='{{page.next.title}}'>Next Post &rarr;</a>
</li>
{% endif %}
</ul>
</div>
</div>
</div>
</div>
</div>
