/ Content
.cv-title.center.invert
  %h2 Robin Smith
.cv-details
  .row
    .col-xs-12
      .cv-details-line-label Email:
      .cv-details-line-value {{ site.email }}
      .row
    .col-xs-12
      .cv-details-line-label Phone:
      .cv-details-line-value {{ site.phone }}
  .row
    .col-xs-12
      .cv-details-line-label Website:
      .cv-details-line-value {{ site.url }}
.cv-experience
  .row
    .col-xs-2
      .cv-section-name Experience
    .col-xs-10
      .cv-experience-block
        .cv-experience-heading
          Freelance Web Developer - Kaptio Travel (May 2017 &#x2013; November 2017)
        .cv-experience-content
          :markdown
            For Kaptio Travel, I implemented itinerary pricing functionality in two backend pricing APIs. The API codebases
            used Python, Pyramid and PostgreSQL, running in Heroku.

            I quickly got up to speed on a new business domain, and was able to
            immediately contribute. I identified areas that needed better automated testing and helped to greatly increase
            the robustness of the code.

            I also worked on a travel booking and administration platform implemented in Salesforce. This involved work on business
            logic and front-end interface improvements, using Apex and Typescript.

            I made improvements to a data transform and synchronisation application which was used to transform between Salesforce and backend API data,
            which was written in Typescript and also deployed in Heroku.
  .row
    .col-xs-offset-2.col-xs-10
      .cv-experience-block
        .cv-experience-heading
          Freelance Web Developer - Insight Software (March 2015 &#x2013; May 2017)
        .cv-experience-content
          :markdown
            As part of a team of three, I worked on an enterprise-scale application for Network Rail, using AngularJS and Flask and running in AWS.

            I contributed significantly to all parts of the application - frontend, server-side, database and also with helping to set up continuous integration in CircleCI.

            Frontend work involved:
              * UIs for graphing with interactive controls
              * Data import and export into different formats
              * Data configuration wizards
              * Report-building and generation interfaces


            Server-side work included:
              * Cost/benefit analysis algorithms
              * Latex report generation
              * CRUD operations for complex data models


            I designed and implemented logical database schemas to model the business domain in a way that allowed us to perform the
            required analysis. I successfully managed several complex data migrations, requiring a lot of pre-planning
            and testing.

            I provided valuable input on architectural decisions with the codebase, to ensure the application was able to scale as it grew.

            Through code reviews and by example, I helped to encourage a culture of writing good tests, which significantly
            helped to increase reliability.

            I used the AWS Cloudformation service to increase automation of deployments and to enable spinning up of UAT
            environments.


          -#%p
          -#  As part of a team of three, I worked on an enterprise-scale application for Network Rail, using AngularJS and Flask and running in AWS.
          -#
          -#%p
          -#  I contributed significantly to all parts of the application - frontend, server-side, database and also with helping to set up continuous integration in CircleCI.
          -#
          -#%p
          -#  Frontend work involved:
          -#  :markdown
          -#    * UIs for graphing with interactive controls
          -#    * Data import and export into different formats
          -#    * Data configuration wizards
          -#    * Report-building and generation interfaces
          -#%br
          -#
          -#%p
          -#  Server-side work included:
          -#  :markdown
          -#    * cost/benefit analysis algorithms
          -#    * Latex report generation
          -#    * CRUD operations for complex data models.
          -#%br
          -#
          -#%p
          -#  I implemented logical database schemas to model the business domain in a way that allowed us to perform the
          -#  required analysis. I successfully managed several complex data migrations, requiring a lot of pre-planning
          -#  and testing.
          -#%br
          -#
          -#%p
          -#  I provided valuable input on architectural decisions with the codebase, to ensure the application was able to scale as it grew.
          -#%br
          -#
          -#%p
          -#  Through code reviews and by example, I helped to encourage a culture of writing good tests, which significantly
          -#  helped to increase reliability.
          -#%br
          -#
          -#%p
          -#  I used the AWS Cloudformation service to increase automation of deployments and to enable spinning up of UAT
          -#  environments.
          -#%br


    .col-xs-offset-2.col-xs-10
      .cv-experience-block
        .cv-experience-heading
          DevOps Engineer, Cloudreach Canada Inc. &#x2013; Vancouver (March 2014 &#x2013; March 2015)
        .cv-experience-content
          :markdown
            I relocated to Vancouver as a lead engineer to help start up a new Network Operations Centre for Cloudreach in North
            America.

            I helped build team of AWS-certified DevOps Engineers capable of handling critical failures in
            &#x2013; and restoring service to &#x2013; customer web application stacks.

            I interviewed and trained new team members in DevOps and software development
            best practices. A highly-functioning team was established and was recognised by the business for performing
            to a high standard as well as upholding its core values.
  .row
    .col-xs-offset-2.col-xs-10
      .cv-experience-block
        .cv-experience-heading
          DevOps Engineer, Cloudreach Ltd. &#x2013; Edinburgh (June 2013 &#x2013; March 2014)
        .cv-experience-content
          :markdown
            I did DevOps and software development work for a range of customer and internal
            production web applications and stacks.

            I wrote business-critical code on the Force.com platform for
            internal processes, email management and improvement of internal business analysis.

            I gave customer consultation and implemented software solutions within customer Salesforce environments.

            I designed and developed an internal email archiving system using python, to archive support case
            emails from Salesforce into Amazon S3. The archiving tool was also deployed in customer production environments.
            I wrote custom data export and backup tools for the Heroku and Salesforce platforms.
            I was recognised by Cloudreach Ltd for being Easy To Work With at the annual awards dinner.
  .row
    .col-xs-offset-2.col-xs-10
      .cv-experience-block
        .cv-experience-heading
          Software Developer, Cloudreach Ltd. &#x2013; Edinburgh (October 2011 &#x2013; June 2013)
        .cv-experience-content
          :markdown
            As the first developer in the new Edinburgh office, I worked web applications using the Django and
            Play frameworks, and the Salesforce Force.com platform. Projects used test suites with continuous integration
            running on a Bamboo server.

            I became a core developer on the company's first sellable product: Alumina Connect &#x2013; a substantial
            application which ran in Force.com and synchronised user data between Salesforce and Google Apps. I designed and
            developed a separate licensing application which ran on the Force.com platform and was used
            to license installations of Alumina Connect in customer environments.

            I wrote and maintained a custom continuous integration tool using shell scripts and Ant to automate deployment of
            code from source repositories to Force.com. The tool was used by the team throughout development
            of Alumina Connect, and later by other parts of the business on separate customer projects.

.cv-tech-skills
  .row
    .col-xs-2
      .cv-section-name Software Development Skills
    .col-xs-10
      .row
        .col-xs-6
          .cv-experience-block
            .cv-experience-heading Languages:
            .cv-experience-content
              %ul
                %li Javascript
                %li Python 2 & 3
                %li Ruby
                %li HTML, CSS, SASS
                %li Java
                %li Typescript
                %li Swift
                %li Google Apps Script
                %li Force.com Apex
                %li Bash, ZSH
                %li MySQL, PostgreSQL
        .col-xs-6
          .cv-experience-block
            .cv-experience-heading Frameworks & Tools:
            .cv-experience-content
              %ul
                %li AngularJS, Flask, Pyramid, Django, Jekyll, Ruby on Rails, iOS
                %li Git, Gulp, Vagrant, Github, Bitbucket
                %li Bamboo, CircleCI
                %li JIRA
      .row
        .col-xs-6
          .cv-experience-block
            .cv-experience-heading Platforms:
            .cv-experience-content
              %ul
                %li Heroku
                %li Salesforce/Force.com
                %li Google Apps
        .col-xs-6
          .cv-experience-block
            .cv-experience-heading Methodologies:
            .cv-experience-content
              %ul
                %li Test-Driven Development
                %li Continuous Integration
                %li DevOps
.cv-education
  .row
    .col-xs-2
      .cv-section-name Education
    .col-xs-2
      .cv-experience-heading 2005 &#x2013; 2009
    .col-xs-8
      .cv-experience-block
        .cv-experience-heading MPhys Physics with Astrophysics, University of Sussex
        .cv-experience-content
          Degree class
          %strong 2:1
.cv-other-skills
  .row
    .col-xs-2
      .cv-section-name Other Skills &amp; Qualities
    .col-xs-10
      .cv-experience-block
        .cv-experience-heading Efficient time management and work ethic
        .cv-experience-content
          I take a very energetic and positive approach to life and aim to make the most of each day.
          Handling the workload of a physics degree alongside paid employment and recreational
          activities has taught me efficiency, organisation and working to a self-disciplined schedule.
.cv-other-skills
  .row
    .col-xs-2
    .col-xs-10
      .cv-experience-block
        .cv-experience-heading Communication and people skills
        .cv-experience-content
          I have a very strong sense for effective and clear communications, developed through
          a diverse range of employment and experiences: DevOps Engineer; Software Developer; Officer Training
          Corps (OTC); tutoring at the University of Sussex; presentations; scientific reports and essays.
          I have given talks at Techmeetup events in Edinburgh.
.cv-other-skills
  .row
    .col-xs-2
    .col-xs-10
      .cv-experience-block
        .cv-experience-heading Teamwork and team-building
        .cv-experience-content
          In professional employment I have consistently been rated as being very easy to work with. I take a strong
          interest in the development of my team members and always take the time to help them out. This approach
          helped me to build a high-quality team in a new office whilst based in Vancouver, Canada, where a significant part of my
          job involved mentoring junior members.
-#.cv-employment-history
-#  .row
-#    .col-xs-2
-#      .cv-section-name Employment History
-#    .col-xs-3
-#      .cv-experience-heading March 2015 &#x2013; Present
-#    .col-xs-7
-#      .cv-experience-block
-#        .cv-experience-heading
-#          Freelance Web Developer
-#        .cv-experience-content
-#  .row
-#    .col-xs-offset-2.col-xs-3
-#      .cv-experience-heading March 2014 &#x2013; March 2015
-#    .col-xs-7
-#      .cv-experience-block
-#        .cv-experience-heading Cloudreach Canada Inc.
-#        .cv-experience-content
-#          DevOps Engineer.
-#  .row
-#    .col-xs-offset-2.col-xs-3
-#      .cv-experience-heading October 2011 &#x2013; March 2014
-#    .col-xs-7
-#      .cv-experience-block
-#        .cv-experience-heading Cloudreach Ltd.
-#        .cv-experience-content
-#          DevOps Engineer.
-#  .row
-#    .col-xs-offset-2.col-xs-3
-#      .cv-experience-heading October 2011 &#x2013; March 2014
-#    .col-xs-7
-#      .cv-experience-block
-#        .cv-experience-heading Cloudreach Ltd.
-#        .cv-experience-content
-#          Software Developer.